:root {
    --color: white;
    --font-_size_header: 0.85rem;
    --font_size_other: 1rem;
    --bg: #1B0040;
    --bg_form: #290060;
    --account_Btn_Bg: #DF0083;
    --Btn_Hover: #BF0071;
}

html, body {
    margin: 0;
    overflow: hidden;
}

.content {
    display: flex;
}

.picture > img {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.picHeader {
    position: relative;
    bottom: 3rem;
    color: red;
}

.picHeader, .credit + a {
    position: relative;
    left: 5.6em;
}

.credit, .creditsLink {
    color: white;
    font-size: 1rem;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    position: absolute;
    width: 30.5rem;
    height: 10em;
    bottom: 25.5rem;
    right: 5.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.logoText {
    color:var(--account_Btn_Bg);
    font-size: 4rem;
}

.mainConteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--color);
}

.mainText {
    padding: 2rem;
    padding-top: 1.5rem;
    font-size: var(--font-_size_header);
}

.formConteiner {
    position: relative;
    bottom: 1rem;
    padding: 2rem;
    background-color: var(--bg_form);
    box-shadow: 1px 5px 10px rgba(211, 111, 211, 0.4);
}

.formConteiner > h1 {
    position: relative;
    bottom: 1.5rem;
    color: rgba(211, 111, 211, 1);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}

input {
    margin: 10px;
    position: relative;
    right: 11rem;
    width: 16em;
    height: 1.2rem;
    outline: none;
    border-radius: 0.5rem;
    border: 1.5px solid black;
}

input:focus {
    border: 1.5px solid rgba(211, 111, 211, 1);
    box-shadow: 3px 3px 4px rgba(130, 130, 130, 0.5);
}

label {
    color: rgba(211, 111, 211, 1);
    font-style: italic;
    font-size: 1.2rem;
    position: relative;
    bottom: 1rem;
    font-weight: bolder;
}

.accountBtn {
    height: 2.8rem;
    width: 12.5rem;
    border-style: none;
    text-align: center;
    font-weight: bolder;
    box-shadow: 3px 4px 10px rgba(211, 111, 211, 0.5);
    font-size: var(--font_size_other);
    border-radius: 0.5rem;
    background-color: var(--account_Btn_Bg);
    cursor: pointer;
    position: relative;
    right: 20rem;
}

.accountBtn:hover {
    background-color: var(--Btn_Hover);
}

* .logInDiv {
    display: flex;
    align-items: center;
    position: relative;
    right: 18rem;
}

.logInDiv h3 {
    padding-right: 0.5rem;
    position: relative;
}

.logInDiv a {
    color:rgba(211, 111, 211, 1);
    text-decoration: none;
}
